project:
  type: website
  output-dir: docs

website:
  title: ""
  navbar:
    left:
      - href: index.qmd
        text: Home
      - about.qmd
      - text: "Data Viz"
        menu: 
          - text: "Project 1 - Income Inequality"
            href: IncomeInequality.html
          - text: "Project 1 - Netflix"
            href: NetflixData.html
          - text: "Project 2 - NYT Data"
            href: nytimes.html
          - text: "Project 3 - Car Data"
            href: cardata.html
          
          
format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css
    toc: true

editor: visual 

